[Desktop Entry]
Type=Application
Name=Yaak
Exec=gpu-offload appimage-run /home/pedrinho/apps/yaak.AppImage
TryExec=appimage-run
Icon=yaak
Terminal=false
Categories=Development;Network;

StartupNotify=true
StartupWMClass=yaak
X-DGPU-Override=managed
