# agent
tmp/
result/

# nixos
.direnv

# misc
.opencode/
.vscode/

# lock configuration.nix file
configuration.nix
hardware.nix
setup.nix

# dont care to lock, me is maverick
flake.lock
boot.nix

result/