(
    applications: ApplicationsConfig(
        max_entries: Some(6),
        fuzzy: Some(true),
        desktop_actions: Some(true),
        use_gtk_theme: Some(false),
        terminal: Some("alacritty"),
    ),
    shell: ShellConfig(
        shell: Some("zsh"),
        fuzzy: Some(true),
        max_entries: Some(4),
    ),
    websearch: WebsearchConfig(
        engines: Some([
            (name: "google", prefix: "g", url: "https://google.com/search?q={}", description: "🔍 Search on Google"),
            (name: "youtube", prefix: "yt", url: "https://youtube.com/results?search_query={}", description: "📺 Search on YouTube"),
            (name: "github", prefix: "gh", url: "https://github.com/search?q={}", description: "🐙 Search on GitHub"),
            (name: "stackoverflow", prefix: "so", url: "https://stackoverflow.com/search?q={}", description: "💻 Search on Stack Overflow"),
            (name: "wikipedia", prefix: "wiki", url: "https://en.wikipedia.org/wiki/{}", description: "📚 Search on Wikipedia"),
            (name: "nixos", prefix: "nix", url: "https://search.nixos.org/packages?query={}", description: "❄️ Search on NixOS"),
        ]),
        fuzzy: Some(true),
        max_entries: Some(4),
    ),
    rink: RinkConfig(
        max_entries: Some(3),
        fuzzy: Some(true),
    ),
)