# front-student — local environment
# Aponta para APIs locais (monolito local, etc.)
# Carregado por: zion docker run front-student --env=CHANGE_ME

HOST=CHANGE_ME
ENVIRONMENT=CHANGE_ME
API_ACCOUNTS_URL=CHANGE_ME
API_JOB_TRACKING_URL=CHANGE_ME
API_OBJETIVOS_URL=CHANGE_ME
API_BFF_URL=CHANGE_ME
API_BO_URL=CHANGE_ME
API_SOCIAL_URL=CHANGE_ME
API_LEDGER_URL=CHANGE_ME
API_CATALOGS_URL=CHANGE_ME
API_MATERIAIS_URL=CHANGE_ME
API_ANALYSIS_URL=CHANGE_ME
API_IMG_ANALYSIS_URL=CHANGE_ME
API_VIP_ROOM_URL=CHANGE_ME
API_MONITORIAS_URL=CHANGE_ME
API_TRILHAS_URL=CHANGE_ME
API_COACHING_URL=CHANGE_ME
API_LANDING_PAGES_URL=CHANGE_ME
API_CAST_URL=CHANGE_ME
API_ECOMMERCE_URL=CHANGE_ME
API_USER_ACCESS_URL=CHANGE_ME
ESTRATEGIA_DOMAIN=CHANGE_ME
API_LDI_URL=CHANGE_ME
API_QUESTIONS_URL=CHANGE_ME
API_QUESTIONS_URL_V2=CHANGE_ME
HOME_CONCURSOS_URL=CHANGE_ME
HOME_MEDICINA_URL=CHANGE_ME
HOME_MILITARES_URL=CHANGE_ME
HOME_VESTIBULARES_URL=CHANGE_ME
HOME_OAB_URL=CHANGE_ME
HOME_ECJ_URL=CHANGE_ME
API_DISCURSIVAS_URL=CHANGE_ME
API_REDACOES_URL=CHANGE_ME
PERFIL_URL=CHANGE_ME
GOOGLE_CLIENT_ID=CHANGE_ME
HCAPTCHA_SITE_KEY=CHANGE_ME
LOGIN_CAPTCHA_ENABLED=CHANGE_ME
TOGGLER_URL=CHANGE_ME
API_PDF_KIT_URL=CHANGE_ME
API_PDF_KIT_TOKEN=CHANGE_ME
API_WARMUP=CHANGE_ME
SENTRY_DSN=CHANGE_ME
B2B_URL=CHANGE_ME
